body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 5% 5% 90%;
  grid-template-areas:
    "navbar navbar"
    "createTimeline search"
    "timeline search";
}

.container {
  border: 1px solid white;
  padding: 10px;
}

/***** Fonts ******/
.label {
  font-family: 'Cormorant Garamond', serif;
  font-size:1rem;
}

/***** Navbar *****/
.title {
  grid-area: navbar;
  text-align: center;
  font-size: 45pt;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

/***** Event Days ****/
.day {
  display: flex;
  min-height: min-content;
  background: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.dayTitle {
  text-decoration: underline;
  text-align: center;
}

.dayView {
  padding: 5px;
  width: 200px;
  border: 1px solid black;
}

.event {
  padding: .3em;
}

.searchList {
  /*min-height: min-content;*/
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.searchBar {
  margin-bottom: 20px;
}

.search {
  display: flex;
  grid-area: search;
  align-content: stretch;
  flex-direction: column;
  background: #e7e7e7;
}

.searchSubmit button {
  padding-left: 1px;
  text-align: center;
}

.searchEntry {
  padding: 5px;
  border: 1px solid black;
}

.scrollbox {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 75vh;
}

.startDate {
  padding: 5px;
}

.endDate {
  padding: 5px;
}


.timelineName {
  padding: 5px;
}

.inputBox {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 2px;
}

input {
  border-radius: 5px;
  padding-left: 5px;
}

.createEvent {
  padding: 5px;
}

.createEventName {
  padding: 5px;
}

.createEventAddress {
  padding: 5px;
}

.createBox {
  grid-area: createbox;
  background-color: #9CCEFF;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 5px;
}

.timelineLookUp {
  grid-area: lookupTimeline;
}

.timelineParams {
  display: flex;
  grid-area: createTimeline;
  justify-content: space-around;
  background-color: #9CCEFF;
}

.timeline {
  display: flex;
  grid-area: timeline;
  height: 75vh;
  flex: 1;
  overflow: auto;
  font-size: 1.1em;
}

.event {
  margin: 5px;
}

button {
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
}
