body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 5% 20% auto;
  grid-template-areas:
    "navbar navbar"
    "createTimeline search"
    "timeline search";
}

.container {
  border: 1px solid white;
  padding: 10px;
}

/***** Fonts ******/
.label {
  font-family: 'Cormorant Garamond', serif;
  font-size:1rem;
}

/***** Navbar *****/
nav {
  grid-area: navbar;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

.nav-links {
  float: right;
}

a {
  padding: 5px;
}

/***** Event Days ****/
.day {
  display: flex;
  min-height: min-content;
  background: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.dayTitle {
  text-decoration: underline;
  text-align: center;
}

.dayView {
  padding: 5px;
  width: 200px;
  border: 1px solid black;
}

.events {
  height: 50vh;
  overflow: hidden;
}

.scroll {
  height: 50vh;
  overflow: auto;
}

.event {
  padding: 5px;
  margin: 5px;
}

.searchList {
  /*min-height: min-content;*/
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.searchBar {
  margin-bottom: 20px;
}

.search {
  display: flex;
  grid-area: search;
  align-content: stretch;
  flex-direction: column;
  background: #e7e7e7;
}

.searchSubmit button {
  padding-left: 1px;
  text-align: center;
}

.searchEntry {
  padding: 5px;
  border: 1px solid black;
}

.scrollbox {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 75vh;
}

.inputBox {
  display: flex;
  justify-content: space-around;
  padding: 2px;
}

.createEvent, .createEventName, .createEventAddress  {
  padding: 5px;
}

.createEvent {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.createEvent button {
  font-size: 0.9rem;
}

.createBox {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
}

.eventName {
  font-weight: bold;
}

.description {
  font-size: 0.9rem;
}

.timelineParams {
  display: flex;
  grid-area: createTimeline;
  justify-content: space-around;
  background-color: #9CCEFF;
}

.timelineParams input {
  padding: 3px;
  border-radius: 1px;
  margin: 5px;
}

.scheduleSubmit {
  padding: 0 4px;
  margin: 7px 0;
  font-size: 0.8rem;
  border-radius: 2px;
}

.timeline {
  display: flex;
  grid-area: timeline;
  height: 75vh;
  flex: 1;
  overflow: auto;
  font-size: 1.1em;
}

button {
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
}
